erlang_version=20.0
elixir_version=1.4.5
always_rebuild=false
config_vars_to_export=(DATABASE_URL SECRET_KEY_BASE POOL_SIZE GITHUB_CLIENT_ID GITHUB_CLIENT_SECRET GITHUB_INTEGRATION_ID GITHUB_INTEGRATION_PEM GITHUB_WEBHOOK_SECRET ALLOW_PRIVATE_REPOS SCOUT_KEY SCOUT_LOG_LEVEL SCOUT_MONITOR)
runtime_path=/app
