<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>bors</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header role="banner">
      <div class="wrapper wrapper--mini">
        <a href="<%= page_url(@conn, :index) %>"><img alt="bors" src='<%= static_path(@conn, "/images/a.svg") %>' width="90" height="25"></a>
        <span id=repos-button>
<%= if is_nil(Plug.Conn.get_session(@conn, :current_user)) do %>
          <a href="<%= project_url(@conn, :index) %>">Log in</a>
<% else %>
          <a href="<%= project_url(@conn, :index) %>">Repositories</a><a href="<%= auth_url(@conn, :logout) %>">Log out</a>
<% end %>
        </a>
        </span>
      </div>
    </header>

    <%= render @view_module, @view_template, assigns %>

    <footer role="note">
      <p class=wrapper>This service is provided for free on a best-effort basis.</p>
    </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
