<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>bors</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
<%= if not is_nil(@conn.assigns[:user]) do %>
    <meta name="bors-current-user" content="<%= @conn.assigns.user.id %>">
<% end %>
  </head>

  <body>
    <header role="banner">
      <div class="wrapper wrapper--mini">
        <a href="<%= page_url(@conn, :index) %>"><img alt="bors" src='<%= static_path(@conn, "/images/a.svg") %>' width="90" height="25"></a>
        <span id=header-user>
<%= if is_nil @conn.assigns[:user] do %>
          <a href='<%= auth_url(@conn, :index, "github") %>'>Log in with GitHub</a>
<% else %>
          <a href="#user-dropdown" class=drop-down-menu--toggler>
            <img width=25 height=25 src="<%= @conn.assigns.avatar_url %>" alt="" role="presentation">
            <%= @conn.assigns.user.login %> ▾
          </a>
<% end %>
<%= if not is_nil @conn.assigns[:user] do %>
          <div class=drop-down-menu--right><div id="user-dropdown" class="drop-down-menu">
  <%= if @conn.assigns.user.is_admin do %>
            <a href="<%= admin_url(@conn, :index) %>">Admin</a>
  <% end %>
            <a href="<%= project_url(@conn, :index) %>">Repositories</a>
            <a href="<%= auth_url(@conn, :logout) %>">Log out</a>
<% end %>
          </div></div>
        </span>
      </div>
    </header>

    <%= render @view_module, @view_template, assigns %>

    <footer role="note">
      <p class=wrapper>This service is provided for free on a best-effort basis.</p>
    </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
