<h2 class=header>Add a repo</h2>

<table class="table">
  <tbody>
<%= for repo <- @my_repos do %>
    <tr>
      <td class="fill-link">
        <%= link repo.name, to: project_path(@conn, :show, repo.id) %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
