<h2 class="header"><%= @project.name %></h2>
<%= for batch <- @batches do %>
<h3><%= stringify_state(batch.state) %></h3>
<table class="table">
  <tbody>
<%= for patch <- batch.patches do %>
    <tr><td><%= patch.commit %></td></tr>
<% end %>
  </tbody>
</table>
<% end %>
<h3>In review</h3>
<table class="table">
  <tbody>
<%= for patch <- @unbatched_patches do %>
    <tr><td><%= patch.commit %></td></tr>
<% end %>
  </tbody>
</table>
