/* always show the scrollbar on the side; avoids ugly jumping */
html{overflow-y:scroll}
/* Should be used inside of the header, main, and footer */
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 16px 20px;
}
.wrapper--mini {
  padding: 8px 20px;
}
/* The header, nav bar, and footer */
header, nav {
  border-bottom: solid 1px #CCC;
}
header {
  line-height: 1.62;
}
#header-user {
  float: right;
}
#header-user > a, #header-user img, #header-logo {
  vertical-align: middle;
  line-height: 25px;
  height: 25px;
  display: inline-block;
}
.drop-down-menu {
  display: none;
  position: fixed;
  background: #fff;
  border: solid 1px #CCC;
  padding: 8px 0;
}
.drop-down-menu:target, .drop-down-menu--open {
  display: block;
}
.drop-down-menu > a {
  display: block;
  height: 25px;
  line-height: 25px;
  padding: 8px 20px;
}
.drop-down-menu--right {
  direction: rtl;
}
.drop-down-menu--right > .drop-down-menu {
  direction: ltr;
}
#footer-version {
  float: right;
}
nav {
  background-color: #EEE;
}
nav h1 {
  margin: 0;
}
footer {
  border-top: solid 1px #CCC;
}
/* An alert box */
.alert {
  background: #d9edf7;
  border: solid 1px #d9edf7;
  color: #31708f;
  padding: 8px 10px;
  margin-bottom: 8px;
}
.alert--ok {
  color: #3c763d;
  border-color: #d6e9c6;
  background-color: #dff0d8;
}
.alert--error {
  color: #a94442;
  border-color: #ebccd1;
  background-color: #f2dede;
}
/* Use underline-on-hover for links.
   This is used for consistency, since fill-link breaks outlines. */
:link, :visited {
  text-decoration: none;
  color: #4d76ae;
}
:link:focus {
  color: #33b5e5;
}
:visited {
  color: #ae3d96;
}
:visited:focus {
  color: #b533e5;
}
:link:hover, :link:focus,
:visited:hover, :visited:focus {
  text-decoration: underline;
  outline: none;
}
:link:focus img, :visited:focus img {
  outline: dotted;
}
/* The tab bar. */
.tabs {
  margin: -1px auto;
  padding: 0 20px;
  max-width: 1000px;
}
.tabs::after {
  content: ". . . . . . . . . . ";
  visibility: hidden;
  display: block;
  width: 0; height: 0; overflow: hidden;
  clear: both;
}
.tab {
  /* The 1px border on the left and right adds it up to 10px */
  /* The top and bottom are 8px, even with the border, because of the -1px margin on tabs */
  padding: 8px 8px 8px 9px;
  float: left;
  border: solid 1px transparent;
  margin-left: -1px;
  transition: border-color 0.1s ease-in-out;
}
.tab--active, .tab:hover, .tab:focus {
  border-color: #CCC;
  border-bottom-color: transparent;
  text-decoration: none;
}
.tab--active {
  background: #FFF;
}
/* The fancy table. */
.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
}
.table tr[role="row"] {
  transition-duration: 0.1s;
  transition-timing-function: ease;
  transition-property: background;
}
.table col td:not([role="presentation"]) {
  background: #EEE;
}
.table tbody tr[role="row"]:hover {
  background: #EEE;
}
.table th {
  color: #666;
  font-weight: bold;
  text-align: left;
}
.table tr[role="row"] th, .table tr[role="row"] td {
  padding: 8px 10px;
}
.table tbody + thead td {
  padding-top: 16px;
}
.fill-link {
  overflow: hidden;
}
.fill-link > * {
  display: block;
  margin: -20em;
  padding: 20em;
}
.table-button {
  margin: -20em;
  padding: 20em;
  background: transparent;
  border: none; outline: none;
  color: #4d76ae;
  transition-property: color, background-color;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}
.table-button:hover,
.table-button:focus {
  background-color: #4d76ae;
  color: #fff;
}
.table-button--add {
  color: #5e9766;
}
.table-button--add:hover,
.table-button--add:focus {
  background-color: #5e9766;
  color: #fff;
}
.table-button--remove {
  color: #df3600;
}
.table-button--remove:hover,
.table-button--remove:focus {
  background-color: #df3600;
  color: #fff;
}
.table-button-col {
  width: 100px;
}
/* The buttons and the bars that they go inside */
.toolbar {
  margin: 16px -10px;
}
.toolbar form {
  display: inline;
}
.toolbar-item {
  margin: -8px 10px;
  padding: 8px 10px;
  color: #FFF;
  background-color: #4d76ae;
  border: none;
  border-radius: 8px;
  transition: box-shadow 0.1s ease-in-out;
  box-shadow: 0 1px 2px #666;
  cursor: pointer;
}
.toolbar-item:hover, 
.toolbar-item:focus {
  text-decoration: none;
  box-shadow: 0 1px 4px #666;
}
.toolbar-item:focus {
  background: #48F;
  box-shadow: 0 1px 4px #666;
  color: #FFF;
}
.toolbar-item:active {
  box-shadow: 0 0 0 #666;
}
.toolbar-item--disabled,
.toolbar-item--disabled:hover,
.toolbar-item--disabled:active,
.toolbar-item--disabled:focus {
  box-shadow: none;
  background-color: #999;
  cursor: not-allowed;
}
.toolbar-item--add {
  background: #5e9766;
}
.toolbar-item--add:focus {
  background: #0A0;
}
.toolbar-item--remove {
  background-color: #cf3600;
}
.toolbar-item--remove:focus {
  background: #F22;
}
/* The page headers. */
.header {
  border-bottom: solid 1px #CCC;
  margin: 0;
  margin-bottom: 7px;
  padding-bottom: 8px;
}
.header-count {
  float: right;
  display: inline-block;
  text-align: center;
  line-height: 24px;
  font-weight: bold;
  height: 24px;
  min-width: 24px;
  color: #FFF;
  background: #000;
  border-radius: 16px;
  font-size: 16px;
}
/* Allow preformatted text to wrap (crash reports) */
pre {
  white-space: pre-wrap;
}
/* Timestamps that show local time inline and UTC on hover */
time[title] {
  border-bottom: dotted 1px #999;
}
