<nav><div class=wrapper>
  <a href="<%= admin_path(@conn, :index) %>">
    Administration
  </a>
  ›
  <h1>Orphaned repositories</h1>
</div></nav>

<main role=main><div class=wrapper>

<table class=table>
  <tbody>
<%= for orphan <- @orphans do %>
    <tr role=row>
      <td class="fill-link">
        <%= link orphan.name, to: project_path(@conn, :settings, orphan) %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

</div></main>
